@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Google Sans", sans-serif;
    height: 100%;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 0 0 200px;
    padding: 0 15px;
}

/*HEADER*/
.header {
    height: 120px;
    display: grid;
    padding-top: 16px;
}

.header__top-wrapper {
    height: 70px;
    display: flex;
    align-items: center;
}

.logo {
    padding: 4px 44px 0 24px;
    font-size: 14px;
    margin-left: 40px;
    display: inline-block;
}

.logo__icon {
    width: 92px;
    height: 30px;
    fill: deepskyblue;
}

.search-form__wrapper {
    border-radius: 26px;
    height: 50px;
    border: 1px solid darkgrey;
    box-shadow: 0 3px 10px 0 rgba(31, 31, 31, 0.08);
}

.search-form {
    display: flex;
    flex: 3;
    align-items: center;
}

.search-form__input {
    width: 658px;
    height: 40px;
    border: 0;
    background: transparent;
    border-radius: 26px;
    outline: none;
    padding-left: 30px;
}

.clear {
    width: 24px;
    height: 50px;
    border-right: 1px solid darkgray;
    position: relative;
}

.clear::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 30px;
    background: #dadce0;
    margin-right: -12px;
}

.header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.search-form__actions {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.search__button {
    width: 24px;
    height: 50px;
    border: 0;
    background: transparent;
    color: #474747;
}

.search-button-last {
    margin-right: 13px;
}

.header-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


.header-actions > :last-child {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.header-actions__button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}

.header-actions__icon {
    color: #71717171;
}

.header-actions__avatar {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    object-fit: cover;
}

.header__bottom {
    border-bottom: 1px solid #d2d2d2;
}

.nav {
    margin-left: 220px;
}

.nav__list {
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    color: #70757a;
    display: flex;
    align-items: center;
    gap: 24px;
    height: 58px;
}

.nav__item--dropdown {
    position: relative;
}

.nav__link {
    border: 0;
    background: transparent;
    color: #5f6368;
    text-decoration: none;
    cursor: pointer;
}

.nav__more {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dropdown {
    position: absolute;
    top: calc(100% + 14px);
    left: 0;
    z-index: 10;

    min-width: 130px;
    margin: 0;
    padding: 12px 0;

    list-style: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: 0.2s;
}

.dropdown a {
    display: block;
    padding: 12px 14px;
    color: #5f6368;
    text-decoration: none;
}

.dropdown a:hover {
    background: #f1f3f4;
}

.nav__item--dropdown:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*SEARCH-PAGE*/
.search-page {
    display: grid;
    grid-template-columns: minmax(0, 700px) minmax(320px, 400px);
    width: 1160px;
    margin-top: 60px;
    margin-left: 220px;
}

.search-content {
    width: 700px;
}

.result-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.result-icon-wrapper {
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f5f6;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
}

.result-icon {
    height: 18px;
    width: 18px;
}

.site-name {
    font-size: 14px;
    color: #1f1f1f;
}

.site-url {
    font-size: 12px;
    color: #4d5156;
}

.result-menu {
    height: 18px;
    width: 18px;
    align-self: flex-end;
    fill: #9E9E9E;
}

.search-result {
    width: 660px;
}

.result-title {
    display: inline-block;
    font-size: 22px;
    color: #1a0dab;
}

.result-description {
    color: #6c6c6c;
    font-size: 14px;
    margin-bottom: 40px;
}

.search-result--main .result-description {
    margin-bottom: 20px;
}

.sitelinks {
    display: flex;
    flex-direction: column;
}

.sitelink__wrapper {
    width: 660px;
    height: 54px;
    border-top: 1px solid #d2d2d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.sitelink {
    display: flex;
    flex-direction: column;
}

.sitelink-title {
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 400;
}

.sitelink__icon {
    height: 24px;
    width: 24px;
    fill: #d2d2d2;
}

.sitelink-description {
    color: #6c6c6c;
    font-size: 14px;
}

.related-searches__title {
    font-size: 20px;
    color: #1f1f1f;
    font-weight: 400;
    margin-top: -10px;
    padding: 15px 0;
}

.related-searches__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 15px;
}

.related-searches__item {
    /*width: 315px;*/
    height: 50px;
    background-color: #f1f3f4;
    border-radius: 8px;
    padding: 16px;
}

.related-searches__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.related-searches__icon {
    width: 20px;
    height: 20px;
    fill: #747878;
}

/* SECTION PEOPLE-SAYING*/
.people-saying {
    width: 660px;
    margin-bottom: 30px;
}

.people-saying__menu-icon,
.people-saying__toggle-icon {
    width: 20px;
    height: 20px;
}

.people-saying__header {
    display: flex;
    gap: 10px;
}

.people-saying__title {
    margin-right: auto;
    font-size: 20px;
    font-weight: 400;
    color: #1f1f1f;
}

.people-saying__menu {
    width: 36px;
    height: 36px;
    border: 0;
    background: transparent;
    fill: #545d7e;
    background-color: none;
    border-radius: 50%;
}

.people-saying__toggle {
    width: 36px;
    height: 36px;
    border: 0;
    background: transparent;
    fill: #545d7e;
    background-color: #f1f3f4;
    border-radius: 50%;
}


.people-saying__menu:hover,
.people-saying__toggle:hover {
    width: 36px;
    height: 36px;
    background-color: #d1d1d1;
    cursor: pointer;
    border-radius: 50%;
}

.people-saying__source {
    display: flex;
    gap: 4px;
}

.people-saying__source-icons {
    display: flex;
    padding-bottom: 12px;
}

.people-saying__source-icon {
    width: 16px;
    height: 16px;
    outline: 2px solid #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

.people-saying__source-icon + .people-saying__source-icon {
    margin-left: -4px;
}

.people-saying__source-text {
    font-size: 14px;
    font-weight: 400;
    color: #636363;
}

/*PEOPLE-SAYING-CARDS*/
.people-saying__cards {
    display: flex;
    gap: 20px;
}

.people-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 335px;
    width: 204px;
    background-color: #F3F5F6;
    border-radius: 16px;
    color: #bfbfbf;
}

.people-card__image {
    width: 204px;
    height: 187px;
    border-radius: 16px;
}

.people-card__content,
.people-card__meta,
.people-card__wrapper {
    padding: 4px 12px 6px 12px;
}

.people-card__title {
    font-style: 14px;
}

.people-card__wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 20px;
}

.people-card__meta {
    font-size: 12px;
}

.people-card__menu {
    margin-left: auto;
}

.people-card__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.people-card__source {
    display: flex;
    flex-direction: column;
}

.people-card__author {
    font-size: 12px;
}

.people-card__platform {
    font-size: 11px;
}

.knowledge-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
}

.knowledge-panel__info {
    padding-bottom: 20px;
}

.knowledge-panel__title {
    font-size: 28px;
    color: #1f1f1f;
    font-weight: 500;
}

.knowledge-panel__menu {
    width: 16px;
    height: 16px;
    fill: #1f1f1f;
}

.knowledge-panel__subtitle {
    display: inline;
    font-size: 14px;
}

.knowledge-panel__gallery {
    display: grid;
    grid-template-columns: 210px 160px;
    grid-template-rows: 120px 120px;
    overflow: hidden;
    border-radius: 20px;
}

.knowledge-panel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-first {
    grid-row: span 2;
}

.knowledge-panel__description {
    width: 360px;
    margin-top: 12px;
    font-size: 14px;
    color: #1f1f1f;
}

.knowledge-panel__source {
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 14px;

}

.knowledge-panel__source a {
    color: #1a0dab;
}

.knowledge-panel__source a:hover {
    text-decoration: underline;
}

.knowledge-stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 12px;
    font-size: 14px;
    overflow: hidden;
}

.knowledge-stats__item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    background-color: #F3F5F6;
    height: 70px;
    padding: 12px;
}

.knowledge-stats__value a {
    text-decoration: underline dotted;
}

.knowledge-panel__profiles {
    margin-top: 20px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 24px 0;

}

.knowledge-panel__profiles-title {
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 400;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.knowledge-panel__profiles-list {
    display: flex;
    justify-content: space-evenly;
}

.knowledge-panel__profiles-item {
    width: 76px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knowledge-panel__profiles-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.knowledge-panel__profiles-icon {
    width: 28px;
    height: 28px;
}

.knowledge-panel__profiles-name {
    font-size: 14px;
    color: #545d7e;
    font-weight: 500;
    padding-top: 5px;
}

.knowledge-panel__related-searches-title {
    padding-top: 24px;
    font-size: 18px;
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 400;
}

.knowledge-panel__related-searches-list {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.knowledge-panel__related-searches-item {
    width: 84px;
}

.knowledge-panel__related-searches-link {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.knowledge-panel__related-searches-link span:hover {
    text-decoration: underline;
}

.knowledge-panel__related-searches-img {
    width: 84px;
    height: 84px;
    object-fit: contain;
    background-color: #f1f3f4;
    border-radius: 8px;
}

